@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(bg2.jpg);
    background-size: cover;
}
.contact .contentS {
    max-width: 800px;
    text-align: center;
}

.contact .contentS h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;

}

.contact .contentS p {
    font-weight: 300;
    color: #fff;
}

.containerS {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.containerS .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.containerS .contactInfo .boc {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.containerS .contactInfo .boc .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.containerS .contactInfo .boc .text1{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
}

.containerS .contactInfo .boc .text1 h3 {
    font-weight: 500;
    color: #00bcd4;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;

}

.contactForm .inputBox input,
.contactForm .inputBox textarea
 {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    position: absolute;
    left: 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);    
}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px)
{
    .contact {
        padding: 50px;
    }

    .containerS {
        flex-direction: column;
    }

    .containerS .contactInfo {
        margin-bottom: 40px;
    }

    .containerS .contactInfo,
    .contactForm {
        width: 100%;

    }
}
