@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;

}
header
{
	position: fixed;
	width: 100%;
	height: 80px;
	padding: 0 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #162c3b;
	z-index: 1000;
}
header .logo
{
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 700;
}
 header ul
{
	position: relative;
	display: flex;
}
header ul li
{
	position: relative;
	list-style: none;	
}
header ul li a
{
	position: relative;
	padding: 5px 10px;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}
header ul li a.active,
header ul li a:hover
{
	background: #205aff;
}

.banner
{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #3475ca;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.25;
}
.banner .content
{
	position: relative;
	max-width: 750px;
	text-align: center;
}
.banner .content h2
{
	color: #fff;
	font-size: 60px;
}
.banner .content p
{
	color: #fff;
	font-size: 18px;
}
.banner header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}
.banner header .logo
{
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}
.about .imgBx
{
	background: url(tonal.jpeg);
	width: 50%;
	background-size: cover;
	background-position: center;
}
.banner header .toggle
{
	position: relative;
	width: 36px;
	height: 28px;
	background: url(toggle.png);
	background-size: cover;
	cursor: pointer;	
}
.about
{
	position: relative;
	width: 100%;
	display: flex;
	
}
.about .contentBx
{
	background: #162c3b;
	padding: 100px;
	width: 50%;
}
.heading
{
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.text
{
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
}
 .toggle
{
	display: none;
}
.services
{
	background: #12222d;
	padding: 100px;
	text-align: center;
}
.services .container
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 60px;
}
.services .container .serviceBx
{
	position: relative;
	background: #fff;
	width: 350px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.services .container .serviceBx img
{
	max-width: 100px;
}
.services .container .serviceBx h2
{
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 1px;
}
/* .contact
{
	padding: 100px;
	background: #162c3b;
	text-align: center;
}
.imgBx2
{
	background: url(bg2.jpeg);
	background-size: cover;
	background-position: center;
	width: 50%;
}
.redbg
{
	background: url(red.jpg) !important;
	background-size: cover;
	background-position: center;
}
.form .inputBx
{
	margin-bottom: 40px;
}

.form .inputBx input
{
	width: 100%;
	background: transparent;
	box-shadow: none;
	border: none;
	outline: none;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	border-bottom: 2px solid #fff;
}
.form .inputBx input::placeholder
{
	color: #fff;
}

.form .inputBx textarea
{
	width: 100%;
	background: transparent;
	box-shadow: none;
	border: none;
	outline: none;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	min-height: 150px;
	border-bottom: 2px solid #fff;
}
.form .inputBx textarea::placeholder
{
	color: #fff;
}
.form .inputBx input[type="submit"]
{
	width: 150px;
	background: #fff;
	color: #111;
	cursor: pointer;
	font-weight: 400p;
} */
.footer
{
	background: #162c3b;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer ul
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer ul li
{
	list-style: none;
}
.footer ul li a
{
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
}
.footer ul li a img
{
	filter: invert(1);
	max-height: 20px;
}
section
/*{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	padding: 150px 100px 100px;
}
section h2
{
	font-size: 2.5em;
	text-transform: uppercase;
}
section p
{
	font-size: 18px;
}
section a
{
	display: inline-block;
	padding: 8px 10px;
	text-decoration: none;
	font-size: 18px;
	background: #3B342F;
	color: #fff;
	margin-top: 20px;
 } */
section:nth-child(odd)
{
	position: relative;
	justify-content: center;
	align-items: center;
	background: #162c3b;
	color: #fff;
}
 @media (max-width: 992px)
{
	.footer
	{
		padding: 20px 50px;
	}
	.footer ul
	{
		margin-bottom: 20px;
	}
	.about
	{
		flex-direction: column;
	}
	.about .contentBx,
	.about .imgBx
	{
		width: 100%;
		padding: 50px;
		min-height: 400px;
		text-align: center;
	}
	.banner
	{
		padding: 50px;
	}
	.banner header
	{
		padding: 20px 50px;
	}
	.banner .content h2
	{
		font-size: 36px;
	}
	.banner .content p
	{
		font-size: 18px;
	}
	/* .contact
	{
		padding: 50px;
	} */
	.about
	{
		flex-direction: column;
	}
	.about .contentBx,
	.about .imgBx
	{
		width: 100%;
		padding: 50px;
		min-height: 400px;
		text-align: center;
	}
	.services
	{
		padding: 50px;

	}
	.services .container
	{
		justify-content: center;
		margin-top: 20px; 
	}
	.services .container .serviceBx
	{
		margin: 20px;
		width: 300px;
		height: 350px;
	}
	section
	{
		padding: 100px 50px 50px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		display: flex;
	}
	section img
	{
		margin: 50px 0 0;
		max-width: 100%;
	}
	header ul
	{
		position: absolute;
		top: -100%;
		left: 0;
		width: 100%;
		height: calc(100vh - 80px);
		padding: 50px 100px;
		text-align: center;
		overflow: auto;
		transition: 0.5s;
		background:	#162c3b;
		flex-direction: column;
		opacity: 0;
		transform: translateY(-100%);
	}
	header.active ul
	{
		opacity: 1;
		top: 80px;
		transform: translateY(0);
	}
	header ul li a
	{
		margin: 5px 0;
		font-size: 24px;

	}
	.toggle
	{
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	.toggle:before
	{
		content: '';
		position: absolute;
		top: 4px;
		width: 100%;
		height: 2px;
		background: #fff;
		z-index: 1;
		box-shadow: 0 10px 0 #fff;
		transition: 0.5s;
	}
	.toggle:after
	{
		content: '';
		position: absolute;
		bottom: 4px;
		width: 100%;
		height: 2px;
		background: #fff;
		z-index: 1;
		transition: 0.5s;	
	}
	header.active .toggle:before
	{
		top: 14px;
		transform: rotate(45deg);
		box-shadow: 0 0 0 #fff;
	}
	header.active .toggle:after
	{
		bottom: 14px;
		transform: rotate(-45deg);
		box-shadow: 0 0 0 #fff;
	}
} 